@import url(https://fonts.googleapis.com/css?family=Andika);

body {
  background: #320;
  font-family: 'Andika', sans-serif;
  color: white;
  text-align: center;
  font-size: large;
  transform: translateZ(0);
}

/*

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.triangle-demo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: tan;
  border-top: 0 solid #EE7C31;
  border-left: 0 solid #F5D97B;
  border-bottom: 0 solid #D94948;
  border-right: 0 solid #8DB434;
  transition: 0.8s 0.2s;
}
.step-1 .triangle-demo {
  border-top-width: 10px;
}
.step-2 .triangle-demo {
  border-left-width: 10px;
}
.step-3 .triangle-demo {
  border-right-width: 10px;
}
.step-4 .triangle-demo {
  border-bottom-width: 10px;
}
.step-6 .triangle-demo {
  background: transparent;
}
.step-7 .triangle-demo {
  width: 0;
  height: 0;
}
.step-8 .triangle-demo {
  border-left-color: transparent;
}
.step-9 .triangle-demo {
  border-right-color: transparent;
}
.step-10 .triangle-demo {
  border-top-color: transparent;
}

.triangle-title {
  width: 300px;
  padding: 1rem;
  color: white;
  background: #D94948;
  border-radius: 20px;
  margin: auto;
  opacity: 0;
  transition: 0.8s 0.2s;
}
.step-11 .triangle-title {
  opacity: 1;
}


.steps {
  position: relative;
  height: 45px;
}
.steps > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background: #333;
  transition: 0.3s;
}
.steps .step-0 {
  opacity: 1;
}
.step-1 .steps .step-1 {
  opacity: 1;
}
.step-2 .steps .step-2 {
  opacity: 1;
}
.step-5 .steps .step-5 {
  opacity: 1;
}
.step-6 .steps .step-6 {
  opacity: 1;
}
.step-7 .steps .step-7 {
  opacity: 1;
}
.step-8 .steps .step-8 {
  opacity: 1;
}
.step-11 .steps .step-11 {
  opacity: 1;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  border-bottom: 1px solid #555;
  color: #999;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
